<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main_layout.html}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="pl">
<div layout:fragment="content">
  <h1 class="text-center mt-3">Nowe zadanie</h1>
  <hr/>
  <div class="row mt-1">
    <div class="col-12">
      <form action="#" th:action="@{/task/save}" th:object="${task}"
            method="post">
        <div class="form-group">
          <label for="task-zadanie">Zadanie</label>
          <input class="form-control" type="text"
                 th:field="*{zadanie}" id="task-zadanie" />
        </div>
        <div class="form-group">
          <label for="task-termin">Termin</label>
          <input class="form-control" type="date" th:field="*{termin}"
                 id="task-termin" />
        </div>
        <button type="submit" class="btn btn-primary mb-2 text-right">
          Zapisz
        </button>
      </form>
    </div>
  </div>
</div>
</html>